body {
    background-color: #1f1f1f;
    color: #58e953;
    font-family: Inconsolata, Roboto, Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #EEC643;
}

.header {
    text-align: center;
}

.display {
    display: grid;
    justify-items: center;
}

.boxContainer {
    display: grid;
    grid-template-columns: repeat(10, 13%);
    width: 250px;
    height: 250px;
    justify-content: center;
    padding: 2%;
}

.boxes {
    justify-self: center;
    height: 20px;
    width: 20px;
    background-color: white;
    border: 1px solid black;
}

.formContainer {
    display: flex;
    justify-content: center;
}

.form {
    float: left;
    clear: left;
    width: 340px;
    text-align: left;
    display: grid;
    justify-content: space-around;
    row-gap: 20%;
    margin: 5%;
    padding: 10%;
    border: 4px #afada9 solid;
    background-color: #f5f3ef;
    color: black;
}

#email,
#password,
#user,
#url {
    float: center;
    width: 200px;
}